# Data Types

Variables are nothing but reserved memory locations to store values. It means that when
you create a variable, you reserve some space in the memory. <br> <br>
Based on the data type of a variable, the interpreter allocates memory and decides what
can be stored in the reserved memory. Therefore, by assigning different data types to the
variables, you can store integers, decimals or characters in these variables. Python has five standard data types:
1. Numbers
2. String
3. List
4. Tuple
5. Dictionary

### 1. Numbers

Number data types store numeric values. Number objects are created when you assign a
value to them. For example:

In [1]:
x = 2+2
print(x)
# in this example x is a number

4

In [2]:
x = 4
x

4

Python supports three different numerical types:
* int (signed integers)
* float (floating point real values)
* complex (complex numbers)

Here are some examples of numbers:

int|float|complex
---|---|---
10|0.0|3.14j
100|15.20|45.j
-786|-21.9|3e+26J
-0490|32.3+e18|4.53e-7j

### 2. Strings

Strings in Python are identified as a contiguous set of characters represented in the
quotation marks. Python allows either pair of single or double quotes. Subsets of strings
can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the
beginning of the string and working their way from -1 to the end.
The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition
operator. For example:

In [3]:
str = 'Hello World!'
print (str) # Prints complete string
print (str[0]) # Prints first character of the string
print (str[2:7]) # Prints characters starting from 3rd to 5th
print (str[2:]) # Prints string starting from 3rd character
print (str * 2) # Prints string two times
print (str + "TEST") # Prints concatenated string
str

Hello World!
H
llo W
llo World!
Hello World!Hello World!
Hello World!TEST

'Hello World!'

### 3. Lists

Lists are the most versatile of Python's compound data types. A list contains items
separated by commas and enclosed within square brackets ([]). <br> <br>
The values stored in a list can be accessed using the slice operator ([ ] and [:]) with
indexes starting at 0 in the beginning of the list and working their way to end -1. The plus
(+) sign is the list concatenation operator, and the asterisk is the repetition operator.
For example:

In [4]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list) # Prints complete list
print (list[0]) # Prints first element of the list
print (list[1:3]) # Prints elements starting from 2nd till 3rd
print (list[2:]) # Prints elements starting from 3rd element
print (tinylist * 2) # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

### 3. Tuples

A tuple is another sequence data type that is similar to the list. A tuple consists of a
number of values separated by commas. Unlike lists, however, tuples are enclosed within
parenthesis. <br> <br>
The main difference between lists and tuples is that Lists are enclosed in brackets ( [ ] ) and
their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) )
and cannot be updated. Tuples can be thought of as read-only lists. For example:

In [5]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')
print (tuple) # Prints complete tuple
print (tuple[0]) # Prints first element of the tuple
print (tuple[1:3]) # Prints elements starting from 2nd till 3rd
print (tuple[2:]) # Prints elements starting from 3rd element
print (tinytuple * 2) # Prints tuple two times
print (tuple + tinytuple) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

The following code is invalid with tuple, because we attempted to update a tuple, which is
not allowed. Similar case is possible with lists.

In [ ]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tuple[2] = 1000 # Invalid syntax with tuple
print (tuple)
# If you run this you will get an error!

In [7]:
# similar case is possible with lists
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
list[2] = 1000 # Valid syntax with list
print (list)

['abcd', 786, 1000, 'john', 70.2]

### 3. Dictionaries

Python's dictionaries are kind of hash-table type, they consist of keys and values. A dictionary key can be almost any
Python type, but are usually numbers or strings. Values, on the other hand, can be any
arbitrary Python object. <br><br>
Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed
using square braces ([]). Keys can be used either inside square brackets [] or with the get() method. For example:

In [8]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one']) # Prints value for 'one' key
print (dict[2]) # Prints value for 2 key
print (tinydict.get('code'))
print (tinydict) # Prints complete dictionary
print (tinydict.keys()) # Prints all the keys
print (tinydict.values()) # Prints all the values
tinydict['name']
dict

This is one
This is two
6734
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

{'one': 'This is one', 2: 'This is two'}

Dictionaries have no concept of order among the elements. It is incorrect to say that the
elements are "out of order"; they are simply unordered.

## Data Type Conversion

Sometimes, you may need to perform conversions between the built-in types. To convert
between types, you simply use the type-name as a function. <br><br>
There are several built-in functions to perform conversion from one data type to another.
The following table shows some functions:

Function|Description
---|---
int(x)|Converts x to an integer
float(x)|Converts x to a floating-point number
str(x)|Converts object x to a string representation
tuple(s)|Converts s to a tuple
list(s)|Converts s to a list
dict(d)|Creates a dictionary. d must be a sequence of (key,value) tuples

type() function can be used on identifying data types. For example:

In [9]:
print(type(dict))
print(type(list))
print(type(tuple))

<class 'dict'>
<class 'list'>
<class 'tuple'>

Now we will go over some of the important methods related to lists and dictionaries.

## Lists

`List Length`: To determine how many items a list has, use the len() function:

In [10]:
l1 = ["apple", "banana", "cherry"]
len(l1)

3

`Insert Items`: To insert a new list item, without replacing any of the existing values, we can use the insert() method.

In [11]:
# Insert "watermelon" as the third item:
l1.insert(2, "watermelon")
l1

['apple', 'banana', 'watermelon', 'cherry']

`Append Items`: To add an item to the end of the list, use the append() method:

In [12]:
l1.append('orange')
l1

['apple', 'banana', 'watermelon', 'cherry', 'orange']

`Extend List`: To append elements from another list to the current list, use the extend() method.

In [13]:
l2 = ["mango", "pineapple", "papaya"]
l1.extend(l2)
l1

['apple',
 'banana',
 'watermelon',
 'cherry',
 'orange',
 'mango',
 'pineapple',
 'papaya']

With the extend() method you don not have to append _lists_ , you can add any iterable object (tuples, dictionaries etc.).

In [15]:
t1 = ("kiwi", "blueberry")
l1.extend(t1)
l1

['apple',
 'banana',
 'watermelon',
 'cherry',
 'orange',
 'mango',
 'pineapple',
 'papaya',
 'kiwi',
 'blueberry']

`Remove Specified Item`: The remove() method removes the specified item.

In [16]:
l1.remove('banana')
l1

['apple',
 'watermelon',
 'cherry',
 'orange',
 'mango',
 'pineapple',
 'papaya',
 'kiwi',
 'blueberry']

`Remove Specified Index`: The pop() method removes the specified index. If you do not specify the index, the pop() method removes the last item. The _del_ keyword also removes the specified index:

In [17]:
l1.pop(1)
l1

['apple',
 'cherry',
 'orange',
 'mango',
 'pineapple',
 'papaya',
 'kiwi',
 'blueberry']

In [18]:
del l1[-1]
l1

['apple', 'cherry', 'orange', 'mango', 'pineapple', 'papaya', 'kiwi']

# Dictionaries

`Change Values`: You can change the value of a specific item by referring to its key name:

In [19]:
d1 = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(d1)
d1["year"] = 2018
print(d1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

`Adding Items`: Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [20]:
d1['color'] = 'red'
d1

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

`Removing Items`: The _pop()_ and _del_ methods remove the item with the specified key name.

In [21]:
d1.pop('model')
d1

{'brand': 'Ford', 'year': 2018, 'color': 'red'}

In [22]:
del d1['year']
d1

{'brand': 'Ford', 'color': 'red'}

`Nested Dictionaries`: A dictionary can contain dictionaries, this is called nested dictionaries.

In [23]:
d2 = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
d2

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [24]:
d2['child3']['year']

2011

In [25]:
d2.get('child3')['year']

2011

# Conditional Statements

Python programming language provides the following types of decision-making
statements.

Statement|Description
-------|-------
if statements|An if statement consists of a Boolean expression followed by one or more statements.
if...else statements|An if statement can be followed by an optional else statement, which executes when the boolean expression is FALSE.
nested if statements|You can use one if or else if statement inside another if or else if statement(s).

## IF Statement

The IF statement is similar to that of other languages. The if statement contains a logical
expression using which the data is compared and a decision is made based on the result
of the comparison.

In [ ]:
if expression:
    statement(s)

If the boolean expression evaluates to TRUE, then the block of statement(s) inside the if
statement is executed. In Python, statements in a block are uniformly indented after the
: symbol. If boolean expression evaluates to FALSE, then the first set of code after the
end of block is executed.

In [26]:
x = 8
if x < 10:
    print("x is less than 10")

x is less than 10

## IF...ELIF...ELSE Statements

An else statement can be combined with an if statement. An else statement contains a
block of code that executes if the conditional expression in the if statement resolves to a FALSE value.
The else statement is an optional statement and there could be at the most only
one else statement following if.

In [ ]:
if expression:
    statement(s)
else:
    statement(s)

In [27]:
amount=int(input("Enter amount: "))
if amount<1000:
    discount=amount*0.05
    print ("Discount",discount)
else:
    discount=amount*0.10
    print ("Discount",discount)

Enter amount: 80
Discount 4.0

### elif Statement

The elif statement allows you to check multiple expressions for TRUE and execute a block
of code as soon as one of the conditions evaluates to TRUE. <br><br>
Similar to the else, the elif statement is optional. However, unlike else, for which there
can be at the most one statement, there can be an arbitrary number of elif statements
following an if.

In [ ]:
if expression1:
    statement(s)
elif expression2:
    statement(s)
elif expression3:
    statement(s)
else:
    statement(s)

In [28]:
amount=int(input("Enter amount: "))
if amount<1000:
    discount=amount*0.05
    print ("Discount",discount)
elif amount<5000:
    discount=amount*0.10
    print ("Discount",discount)
else:
    discount=amount*0.15
    print ("Discount",discount)

Enter amount: 500
Discount 25.0

## Nested IF Statements

There may be a situation when you want to check for another condition after a condition
resolves to true. In such a situation, you can use the nested if construct.
In a nested if construct, you can have an if...elif...else construct inside another
if...elif...else construct.

In [ ]:
if expression1:
    statement(s)
    if expression2:
       statement(s)
    elif expression3:
         statement(s)
    else:
         statement(s)
elif expression4:
     statement(s)
else:
     statement(s)

In [ ]:
num=int(input("enter number"))
if num%2==0:
    if num%3==0:
        print ("Divisible by 3 and 2")
    else:
        print ("divisible by 2 not divisible by 3")
else:
    if num%3==0:
        print ("divisible by 3 not divisible by 2")
    else:
        print ("not Divisible by 2 not divisible by 3")

enter number20
divisible by 2 not divisible by 3

## Single Statement Suites

If the suite of an if clause consists only of a single line, it may go on the same line as the
header statement.
Here is an example of a one-line if clause:

In [29]:
var = 100
if  var == 100  : print ("Value of expression is 100")

Value of expression is 100

# Loop Statements

A loop statement allows us to execute a statement or group of statements multiple times.
The following diagram illustrates a loop statement.

Python programming language provides the following types of loops to handle looping
requirements.

Loop Type|Description
---|---
while loop|Repeats a statement or group of statements while a given condition is TRUE. It tests the condition before executing the loop body.
for loop|Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.
nested loops|You can use one or more loop inside any another while, or for loop.

## while Loop Statements

A while loop statement in Python programming language repeatedly executes a target
statement as long as a given condition is true.

In [ ]:
while expression:
    statement(s)

In [30]:
count = 0
while (count < 9): # parenthesis is optional
    print ('The count is:', count)
    count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

### Using else Statement with Loops

Python supports having an else statement associated with a loop statement. If the else statement is used with a while loop, the else statement is executed
when the condition becomes false.

In [31]:
count = 0
while count < 5:
    print (count, " is less than 5")
    count = count + 1
else:
    print (count, " is not less than 5")

0  is less than 5
1  is less than 5
2  is less than 5
3  is less than 5
4  is less than 5
5  is not less than 5

Similar to the if statement syntax, if your while clause consists only of a single statement,
it may be placed on the same line as the while header.
Here is the syntax and example of a one-line while clause:

In [ ]:
num = 1
while num == 1: print ('num is one!')
# if you run it you'll see it runs forever.

## for Loop Statements

The for statement in Python has the ability to iterate over the items of any sequence, such
as a list or a string.

In [ ]:
for iterating_var in sequence:
    statements(s)

In [33]:
numbers=[11,33,55,39,55,75,37,21,23,41,13]
sum = 0
for i in numbers:
    sum = sum + i
print('the sum of the numbers is', sum)

the sum of the numbers is 403

### Using if else Statement with Loops

Python supports having an if else statement associated with a loop statement. The following example illustrates the combination of an if else statement with a for
statement that searches for even number in given list.

In [34]:
numbers=[11,33,55,39,55,75,37,21,23,41,13]
for i in numbers:
    if i%2==0:
        print ('the list contains an even number')
else:
    print ('the list does not contain even number')

the list does not contain even number

### Loop Control Statements

The Loop control statements change the execution from its normal sequence. Python supports the following control statements.

Control Statement|Description
----|----
break statement|Terminates the loop statement and transfers execution to the statement immediately following the loop.
continue statement |Causes the loop to skip the remainder of its body and go to the next item in the sequence.
pass statement|The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute.

In [35]:
# Break statement examples
# First Example
sum = 0
for letter in 'Python': # letter = h
    if letter != 'h': # False
        sum = sum + 1 # sum = 3
    else:
        break
print ('the number of letters before h is ', sum)

# Second Example
var = 10
while var > 0:
    print ('Current variable value :', var)
    var = var -1
    if var == 5:
        break

the number of letters before h is  3
Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6

In [36]:
# continue Statement example
numbers=[1,2,3,4,5,6,7]
for i in numbers: # i = 4
    if i==3: # False
        continue
    else:
        print(i)

1
2
4
5
6
7

In [ ]:
# pass statement example
for i in s:
    # No error will be raised
    pass